/*$text-color: #fff;
$font: 2em;
$foot: #FF82BE;*/
#wrapper{
  width: 100%;
  background-color: #333237;
  position: relative;
  justify-content: center;
  align-items: center;
}
#title{
  color: #fff;
  margin:8% auto auto auto; 
}
#quote-box{
  background-color: #666;
  margin: 8% auto auto auto;
  border-radius: 4px;
  padding: 40px 50px;
  border: 1px solid #fff;
  width: 90%
}

 #text{
     text-align: center;
     font-size: 1.7em;
     color: #fff;
     
  }
#text span{
  margin-left: 2%;
}
#author{
  float: right;
  font-size: 1.1em;
  color: #fff;;
  margin-bottom: 3%;
  font-weight: 100;
}
.quotes{
  margin: 15% auto auto auto;
}
#tweet-quote{
  background-color: #FF82BE;
  border-color: #fff;;
}
#new-quote{
  float:right;
  width: auto;
  border-color: #fff;;
  color: #fff;
}
  
 #new-quote:hover{
    background-color: #333237;
  }

.footer{
    font-size: 1em;
    color: #FF82BE;
  margin: auto auto 5% auto ;

}
.footer a{
  color: #FF82BE;
  text-decoration: none;

}